/* DESKTOP CSS */

/* Initial CSS aplication */ 
*
{
    font-family: "Host Grotesk", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body
{
    min-height: 100vh;
    background-color: #0c0c0c;
}

h2
{
    text-align: center;
    font-size: 4em;
    font-family: "Host Grotesk", sans-serif;
}

p
{ color: #b4b4b4; font-family: "Alata", sans-serif;}

a
{ font-family: "Alata", sans-serif; }

main h2
{ margin-bottom: 0.8em; }
/* End of initial CSS aplication */

/* Header with nav bar */
header
{
    padding: 2em;
    border-bottom: 2px solid rgb(46, 46, 46);
    border-radius: 10px;

    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #0C0C0C;
}

header h1
{
    font-family: "Alata", sans-serif;
    font-size: 2.5em;
}

header h1 a
{
    text-decoration: none;
}

.mobile-menu
{
    display: none;
}

.desktop-menu ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.desktop-menu ul li
{
    margin-left: 10rem;
}

.desktop-menu ul li a
{
    font-size: 1.5em;
    padding: 0.4em;
    border-radius: 10px;
    background-color: #252525;
    text-decoration: none;
}

.desktop-menu ul li a:hover
{
    transition: 0.2s;
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
}
/* End of header with nav bar */

/* Main banner */
.banner
{
    background-color: #131313;
    margin-bottom: 20em;
    border-radius: 10px;
}

.banner img
{
    width: 100%;
}

.banner-text-content
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding: 1em;
}

.banner-text-content h2
{
    margin-top: 1em;
    text-align: center;
    font-size: 4em;
    font-family: "Host Grotesk", sans-serif;
}

.banner-text-content p
{
    border: 2px solid rgb(121, 121, 121);
    border-radius: 10px;
    text-align: justify;
    padding: 1em;
    font-size: 1.5em;
}
/* End of main banner */

/* Timeline */
.timeline
{
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 3em;
    overflow-x: auto;
    gap: 1em;
    box-shadow:
    0px 0px 20px 5px rgba(71, 8, 8, 0.308),
    0px 0px 10px 5px rgba(131, 6, 6, 0.445);
}

.timeline::-webkit-scrollbar
{
    display: none;
}

.timeline-group
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: move 50s infinite linear;
}

.timeline-card
{
    padding: 25px;
    flex: 0 0 5em;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.384);
    border-radius: 10px;
}

.timeline-card img
{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid rgb(48, 48, 48);
}

.timeline-card h2
{
    text-align: center;
    font-size: 20pt;
    font-family: "Host Grotesk", sans-serif;
}

.timeline-card p
{
    font-size: 120%;
    text-align: justify;
}

@keyframes move
{
    from {translate: 0%;}
    to {translate: -100%;}
}
/* End of timeline */

/* List of Cryptids */
#box-1
{ grid-area: box-1; }
   
#box-2
{ grid-area: box-2; }

#box-3
{ grid-area: box-3; }

#box-4
{ grid-area: box-4; }

#box-5
{ grid-area: box-5; }

.cryptid-type
{ 
    margin-top: 250px;
    background-color: #18181fa6; 
    padding: 50px; 
    border-radius: 15px;
}

.type-group
{
    margin: 90px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
    grid-template-areas: 
    'box-1 box-1 box-2' 
    'box-3 box-3 box-3' 
    'box-4 box-5 box-5';
}

.type-card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #35353571;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.466);
    padding: 2%;
}

.type-card img
{ 
    width: 70%;
    align-self: center; 
    border-radius: 10px; 
    border: 1px solid gray; 
}

.type-card h3
{
    align-self: center;
    font-size: 40pt; 
    padding: 10px;
}

.type-card p
{
    margin-top: 10px;
    font-size: 125%;
    text-align: justify;
}

.type-group h3
{
    font-family: "Alata", sans-serif;
}
/* End of List of Cryptids */

/* Community */
.community
{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1c1c;
    padding: 50px;
    border-radius: 15px;
}

.community p
{
    border: 2px solid rgb(121, 121, 121);
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    margin: 10px;
    font-size: 20pt;
    width: 50%;
}
/* End of Community */

/* Discover */
.discover
{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover a
{
    margin-top: 25px;
    font-size: 40pt;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    background-color: #252525;
    color: #646464;
    text-decoration: none;
    text-align: center;
    transition: 0.25s;
}

.discover a:hover
{
    transition: 0.25s;
    color: #D2D3CE;
    background-color: #FF2525;
}
/* End of Discover */

/* Footer */
footer
{
    margin-top: 250px;
    padding-top: 100px;
    border-radius: 10px;
    border-top: 2px solid rgb(46, 46, 46);
    background-color: #0C0C0C;
}

footer p
{
    font-family: "Host Grotesk", sans-serif;
    font-size: 15pt;
    text-align: center;
    opacity: 70%;
    padding-bottom: 5px;
}
/* End of Footer */

/* MOBILE CSS */
@media screen and (max-width: 768px)
{
    /* Header with nav bar */
    header
    {
        position: fixed;
        z-index: 999;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-bottom: 2px solid rgb(46, 46, 46);
        border-radius: 10px;
        background-color: #0C0C0C;
    }

    header h1
    {
        font-family: "Alata", sans-serif;
        font-size: 25pt;
        text-align: center;
    }

    .desktop-menu
    {
        display: none;
    }

    header input
    {
        display: none;
    }

    .mobile-menu
    {
        display: inline;
    }
    
    .mobile-menu ul
    {
        list-style: none;
    }

    .mobile-menu ul li a
    {
        text-decoration: none;
        font-size: 2em;
    }
    
    .links-container
    {
        background-color: rgb(34, 34, 34);
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        display: none;
        width: 40vh;
        height: 100vh;
    }

    .links-container svg
    {
        position: relative;
        margin-top: 10px;
        margin-left: 5px;
    }

    .links-container li
    {
        margin: 10px;
    }

    .open-sidebar-button
    {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 5px;
    }

    #sidebar-active:checked ~ .links-container
    {
        display: block;
    }

    #sidebar-active:checked
    {
        filter: blur(100px);
    }

    /* End of header with nav bar */

    /* Main banner */
    .banner
    {
        background-color: #131313;
        margin-bottom: 250px;
        border-radius: 10px;
    }

    .banner img
    {
        display: none;
        width: 100%;
    }

    .banner-text-content
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
        padding: 50px;
    }

    .banner-text-content h2
    {
        margin-top: 50px;
        text-align: center;
        font-size: 40pt;
        font-family: "Host Grotesk", sans-serif;
    }

    .banner-text-content p
    {
        border: 2px solid rgb(121, 121, 121);
        border-radius: 10px;
        text-align: justify;
        padding: 20px;
        margin: 10px;
        font-size: 20pt;
    }
    /* End of main banner */

    /* Timeline */
    .timeline
    {
        display: flex;
        margin: 0 auto;
        width: 80%;
        padding: 50px;
        overflow-x: auto;
        gap: 1em;
        box-shadow:
        0px 0px 20px 5px rgba(71, 8, 8, 0.308),
        0px 0px 10px 5px rgba(131, 6, 6, 0.445);
    }

    .timeline::-webkit-scrollbar
    {
        display: none;
    }

    .timeline-group
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        animation: move 50s infinite linear;
    }

    .timeline-card
    {
        padding: 25px;
        flex: 0 0 5em;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.384);
        border-radius: 10px;
    }

    .timeline-card img
    {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        border: 2px solid rgb(48, 48, 48);
    }

    .timeline-card h2
    {
        text-align: center;
        font-size: 20pt;
        font-family: "Host Grotesk", sans-serif;
    }

    .timeline-card p
    {
        font-size: 120%;
        text-align: justify;
    }

    @keyframes move
    {
        from {translate: 0%;}
        to {translate: -100%;}
    }
    /* End of timeline */

    /* List of Cryptids */
    #box-1
    { grid-area: box-1; }
    
    #box-2
    { grid-area: box-2; }

    #box-3
    { grid-area: box-3; }

    #box-4
    { grid-area: box-4; }

    #box-5
    { grid-area: box-5; }

    .cryptid-type
    { 
        margin-top: 250px;
        background-color: #18181fa6; 
        padding: 50px; 
        border-radius: 15px;
    }

    .type-group
    {
        margin: 90px;
        margin-top: 20px;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em;
        grid-template-areas: 
        'box-1 box-1 box-2' 
        'box-3 box-3 box-3' 
        'box-4 box-5 box-5';
    }

    .type-card
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #35353571;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.466);
        padding: 2%;
    }

    .type-card img
    { 
        width: 70%;
        align-self: center; 
        border-radius: 10px; 
        border: 1px solid gray; 
    }

    .type-card h3
    {
        align-self: center;
        font-size: 40pt; 
        padding: 10px;
    }

    .type-card p
    {
        margin-top: 10px;
        font-size: 125%;
        text-align: justify;
    }

    .type-group h3
    {
        font-family: "Alata", sans-serif;
    }
    /* End of List of Cryptids */

    /* Community */
    .community
    {
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1f1c1c;
        padding: 50px;
        border-radius: 15px;
    }

    .community p
    {
        border: 2px solid rgb(121, 121, 121);
        border-radius: 10px;
        text-align: justify;
        padding: 20px;
        margin: 10px;
        font-size: 20pt;
        width: 50%;
    }
    /* End of Community */

    /* Discover */
    .discover
    {
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .discover a
    {
        margin-top: 25px;
        font-size: 40pt;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 10px;
        background-color: #252525;
        color: #646464;
        text-decoration: none;
        text-align: center;
        transition: 0.25s;
    }

    .discover a:hover
    {
        transition: 0.25s;
        color: #D2D3CE;
        background-color: #FF2525;
    }
    /* End of Discover */

    /* Footer */
    footer
    {
        margin-top: 250px;
        padding-top: 100px;
        border-radius: 10px;
        border-top: 2px solid rgb(46, 46, 46);
        background-color: #0C0C0C;
    }

    footer p
    {
        font-family: "Host Grotesk", sans-serif;
        font-size: 15pt;
        text-align: center;
        opacity: 70%;
        padding-bottom: 5px;
    }
    /* End of Footer */
}